<h2>Peliculas</h2>

<section class="sort-by">
<button onclick="sortByName()">Ordenar por nombre</button>
<button>Ordenar por año</button>
</section>

<hr>

<section class="gallery">
  {{#each movie}}

  <article class="movie-preview">

    <a href="/movie/A-Z/{{this.id}}" class="movie-title"> {{this.title}} ({{this.year}})</a>
    <img src="{{this.cover}}" alt="{{this.title}}">

  </article>
  {{/each}}
</section>

<script>
  function sortByName() {
    window.location.href = `/movie/A-Z/`
  }

  
</script>