<h2>Detalles</h2>
<hr>

<section class="show-detail container">
  <div class="row justify-content-between">

    <article class="movie-cover col-4">
      <img src="{{movieFound.cover}}" alt="{{movieFound.title}}">
    </article>

    <article class="movie-detail col-8">
      <h3>{{movieFound.title}} ({{movieFound.year}})</h3>
      <p>Director: {{movieFound.director}}</p>

      <p>Reparto:</p>
      <ul class="topCast">

        {{#each movieFound.topCast}}
        <li>{{this}}</li>
        {{/each}}

      </ul>

      <a href="{{movieFound.IMDB}}" target="_blank">IMDB</a>
    </article>

  </div>
</section>