<section class="sort-by col">

  <div class="byName">
  {{#if sorted}}
  <button onclick="sortByName('{{sorted}}')">Nombre {{sorted}}</button>
  {{else}}
  <button onclick="sortByName('DESC')">Nombre</button>
  {{/if}}
  </div>

<div class="byYear"> 
  {{#if yearsorted}}
  <button onclick="sortByYear('{{yearsorted}}')">Año {{yearsorted}}</button>
  {{else}}
  <button onclick="sortByYear('DESC')">Año</button>
  {{/if}}
</div>

</section>


<section class="gallery container-fluid p-0">
  <div class="row justify-content-center">
  {{#each movie}}
  <article class="movie-preview  col-2" >

    <a href="/movie/a-z/0-9/{{this.id}}" class="movie-title"> {{this.title}} ({{this.year}})</a>
    <img src="{{this.cover}}" alt="{{this.title}}">

  </article>
  {{/each}}
  </div>
</section>

<script>

  function sortByName(sorted) {
    window.location.href = `/movie/${sorted}/`
  }

  function sortByYear(yearsorted) {
    window.location.href = `/movie/-/${yearsorted}/`
  }

</script>